extends layouts/main

block content
    .container.error-page
        .row
            .col-md-8.mx-auto.text-center
                h1.display-1.text-danger 404
                h2.mb-4 Page Not Found
                p.lead.mb-4 The page you're looking for doesn't exist or has been moved.
                .d-flex.justify-content-center.gap-3
                    a.btn.btn-primary.btn-lg(href="/p12")
                        i.fas.fa-home.me-2
                        | Go Home
                    a.btn.btn-outline-secondary.btn-lg(href="javascript:history.back()")
                        i.fas.fa-arrow-left.me-2
                        | Go Back
