extends layouts/main

block content
    h1.mb-4 Restaurants Near You
    .row
        each restaurant, index in restaurants
            .col-md-4.mb-4
                .card.restaurant-card
                    img.card-img-top(src=`/p12/${index + 1}.jpg`, alt=restaurant.name)
                    .card-body
                        h5.card-title= restaurant.name
                        a.btn.btn-primary(href=`/p12/restaurant/${restaurant.id}`) View Menu
