extends layouts/main

block content
  h1.mb-4 Login
  if error
    .alert.alert-danger= error
  form(method="POST", action="/p12/login")
    .form-group
      label(for="email") E-mail
      input#email.form-control(type="email", name="email", required)
    .form-group
      label(for="password") Password
      input#password.form-control(type="password", name="password", required)
    button.btn.btn-primary.mt-3(type="submit") Sign In
  .mt-2
    p
      | Don't have an account?
      a(href="/p12/register")   Register here
