footer.bg-dark.text-white.mt-5
    .container.py-4
        .row
            .col-md-6
                h5 FoodExpress
                p The best food delivery service in town.
            .col-md-6.text-end
                p &copy; 2025 FoodExpress. All rights reserved.
